body {
    background-color: #1B1A26;
}

.header {
    margin-top: 3.5%;
    margin-left: 2.8%;
}

.header img {
    width: 120px;
}

.setup {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 25%;
    left: 25%;
    background-color: #10212E;
    filter: drop-shadow(0px 21px 22px rgba(0, 0, 0, 0.25));
}

.setupTitle {
    font-size: 25px;
    margin-left: 35px;
    display: flex;
}

.setupTitleEmphasis {
    background: linear-gradient(89.55deg, #B07AFF, #45FAFA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
}

.setupTitleSecondary{
    background-color: #5F97C0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
    font-weight:bold;


}
.sundayTitle{
    background-color: #5F97C0;
    font-size: 35px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px;
    font-weight:bold;
    margin-top: -5px;
}

.mondayTitle{
    background-color: #5F97C0;
    font-size: 35px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 235px;
    font-weight:bold;
    margin-top: -63px;
}

.thursdayTitle{
    background-color: #5F97C0;
    font-size: 35px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 430px;
    font-weight:bold;
    margin-top: -63px;
}