body {
    position: absolute;
    background-color: #1B1A26;
}

.header {
    margin-top: 3.5%;
    margin-left: 2.8%;
    display: flex;
}

.header img {
    width: 120px;
}

.setup {
    position: absolute;
    width: 800px;
    height: 420px;
    top: 22%;
    left: 22%;
    background-color: #10212E;
    filter: drop-shadow(0px 21px 22px rgba(0, 0, 0, 0.25));
}

.setupTitle {
    font-size: 25px;
    margin-left: 35px;
    display: flex;
}

.setupTitleEmphasis {
    background: linear-gradient(89.55deg, #B07AFF, #45FAFA);
    -webkit-background-clip: text;
    font-family: All-ProSans-Heavy;
    -webkit-text-fill-color: transparent;
    margin-left: 15px;
}

.setupTitleSecondary{
    background-color: #5F97C0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: All-ProSans-Heavy;
    margin-left: 15px;
    font-weight:bold;


}

.sundayTitle{
    background-color: #5F97C0;
    font-size: 30px;
    font-family: All-ProSans-Heavy;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px;
    font-weight:bold;
    margin-top: -5px;
}

.mondayTitle{
    background-color: #5F97C0;
    font-size: 30px;
    -webkit-background-clip: text;
    font-family: All-ProSans-Heavy;
    -webkit-text-fill-color: transparent;
    margin-left: 260px;
    font-weight:bold;
    margin-top: -55px;
}

.thursdayTitle{
    background-color: #5F97C0;
    font-size: 30px;
    -webkit-background-clip: text;
    font-family: All-ProSans-Heavy;
    -webkit-text-fill-color: transparent;
    margin-left: 470px;
    font-weight:bold;
    margin-top: -55px;
}

#progressbar {
    background-color: #2B4355;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 170px;
    justify-content:space-between
  }
  
  #progressbar #progress {
     background: linear-gradient(45deg, #3076F9 0%, #00D3D3 100%);;
     width: 0%; /* Adjust with JavaScript */
     height: 8px;
     border-radius: 8px;
     transition: 0.5s;
  }

.pbSun{
    float: left;
    margin-left: 50px;
    margin-top: -10px;
}

.pbMon{
    float: left;
    margin-left: 35px;
    margin-top: -10px;
}

.pbThurs{
    float: left;
    margin: 35px;
    margin-top: -10px;
}

#subscriptionBlock {
    position: absolute;
    background-color: #132B3D;
    width: 176px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.09), 0px 1px 2px rgba(0, 0, 0, 0.09);
    filter: drop-shadow(0px 21px 22px rgba(0, 0, 0, 0.25));
}

.subscription {
    display: flex;    
}

.logoBox {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 15px;
    /* margin-bottom: 10px; */
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logoBox img {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.subscriptionTitle {
    -webkit-background-clip: text;
    font-family: All-ProSans-Heavy;
    font-size: 8px;
    color: #96B5CC;
    margin-top: 20px;
    margin-left: 10px;
}

#loginButton {
    font-family: All-ProSans-Bold;
    font-size: 8px;
    color: white;
    background-color: #335268;
    height: 20px;
    width: 40px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: 15px;
    margin-left: 15px;
    text-align: center;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#loginButton:hover {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.24);
    margin-top: 13px;
    margin-left: 15px;
    text-align: center;
    border-radius: 3px;
    transition: 0.2s;
}

#loginButton:active {
    background-color: #0C2131;
}

#loginButton p {
    margin-top: 5px;
}