.queue-container {
    text-align: center;
    position: absolute;
    width: 1886.4px;
    height: 99.33px;
    left: 246.47px;
    top: 1060.57px;
}
.queue-container h2 {
    font-style: italic;
}
.queue-list {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.queue-item {
    background: linear-gradient(
            179.75deg,
            rgba(172, 145, 114, 0) 53.77%,
            #285b64 125.6%
        ),
        linear-gradient(180deg, #193347 45.31%, #1b1a26 100%), #193347;
    padding: 15px 40px 15px 15px;
    display: flex;
    align-items: center;
    clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);
    width: 200px;
    justify-content: space-between;
    position: relative;
    border: 3px solid #193347;
    border-right: 0;
}

.queue-item:nth-child(2) {
    background: linear-gradient(
            179.75deg,
            rgba(255, 136, 0, 0) 53.77%,
            #00b9da 125.6%
        ),
        linear-gradient(180deg, #193347 45.31%, #1b1a26 100%), #193347;
    animation: onFieldHighlight 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 83s;
}

.queue-item:nth-child(3) {
    background: linear-gradient(
            179.75deg,
            rgba(255, 136, 0, 0) 53.77%,
            #00b9da 125.6%
        ),
        linear-gradient(180deg, #193347 45.31%, #1b1a26 100%), #193347;
}

.queue-item:nth-child(4) {
    background: linear-gradient(
            179.75deg,
            rgba(255, 136, 0, 0) 53.77%,
            #00b9da 125.6%
        ),
        linear-gradient(180deg, #193347 45.31%, #1b1a26 100%), #193347;
}

@keyframes onFieldHighlight {
    0% {
        background: linear-gradient(
            179.75deg,
            rgba(255, 136, 0, 0) 53.77%,
            #00b9da 125.6%
        ),
        linear-gradient(180deg, #193347 45.31%, #1b1a26 100%), #193347;
    }
    100% {
        background: linear-gradient(
            179.75deg,
            rgba(172, 145, 114, 0) 53.77%,
            #285b64 125.6%
        ),
        linear-gradient(180deg, #193347 45.31%, #1b1a26 100%), #193347;
    }
  }

.queue-item-arrow {
    position: absolute;
    width: 30px;
    height: 101%;
    background: linear-gradient(180deg, #223743 76.56%, #1b1a26 100%);
    top: -1px;
    right: 0;
    clip-path: polygon(39% 0, 100% 50%, 39% 100%, 0% 100%, 82% 50%, 0% 0);
}

.queue-item:not(:first-child) {
    margin-left: -30px;
    padding-left: 45px;
    clip-path: polygon(0% 0%, 91% 0, 100% 50%, 91% 100%, 0% 100%);
}

.queue-item .person {
    display: flex;
    align-items: center;
    gap: 10px;
}
.queue-item .person .avatar {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 100%;
}
.queue-item .person .name {
    font-size: 17px;
    display: block;
    width: 100px;
    text-align: left;
    font-weight: bold;
    line-height: 22px;
}

.queue-item-number {
    font-size: 45px;
    background: -webkit-linear-gradient(45deg, #e47aff 0%, #45fafa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sortableItem {
    position: relative;
    cursor: grab;
}
.sortableItem::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.queueSelector {
    z-index: 100;
    position: absolute;
    left: 637px;
    top: 1155px;
    width: 200px;
    animation: seconds 1.0s forwards;
    animation-iteration-count: 1;
    animation-delay: 82s;
}

@keyframes seconds {
    0% {
        opacity: 1;
    }
    100% {
        left: 895px;
    }
  }