.topbar {
    width: 100%;
    height: 50px;
    background-color:transparent;
    position: sticky;
    top: 0;
    z-index: 999;
    top: 136.58px;
    width: 2125.69px;
    height: 70.57px;
    left: 62.08px;
  }
  
.topbarWrapper {
    flex-direction: row;
    height: 100%;
    padding: 0px 0px;
    display: flex;
    border-spacing: 20px;
}

.topbarWrapper > img {
    flex: 0 0 auto;
    text-align: center;
  
    margin-right: 24px;
}


  
  