.topbar {
    width: 100%;
    height: 50px;
    background-color: transparent;
    height: 70.57px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.topbarWrapper {
    flex-direction: row;
    height: 100%;
    padding: 0px 0px;
    display: flex;
    gap: 24px;
    border-spacing: 20px;
}

.topbarWrapper > img {
    flex: 0 0 auto;
    text-align: center;
}
